@page
@model CRUDCxC.Pages.DocumentsType.IndexModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tipos de Documentos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
    <p>
        <a asp-page="Create" class="btn btn-success">Crear</a>
    </p>
    <table class="table table-white table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DocumentType[0].Description)</th>
                <th>@Html.DisplayNameFor(model => model.DocumentType[0].AccountingAccount)</th>
                <th>@Html.DisplayNameFor(model => model.DocumentType[0].Status)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DocumentType)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.AccountingAccount)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Editar</a>
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalles</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
